[push]
  simple
[user]
  name = muryoimpl
  email = muryoimpl@gmail.com
  signingkey = F7FA1D4BD2AFF4D6
[core]
  excludesfile = /home/muryoimpl/.config/git/ignore
  pager = less
  # pager = lv -c
  editor = vim
  precomposeunicode = true
  quotepath = false
[pull]
  rebase = true
[alias]
  l  = log
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  amn = commit --amend --no-edit
  b = branch
  co = checkout
  cm = commit --verbose

[color "diff"]
  meta = cyan

[commit]
  gpgsign = true

[gpg]
  program = gpg2

#[pager]
#  log  = diff-highlight | lv
#  show = diff-highlight | lv
#  diff = diff-highlight | lv
